.krepko{
    font-weight: bold;
}

.post{
    background-color: lightyellow;
}
.posts{
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
}
.glava {
    background-color: #337ab7;
    font-weight: bold;
    color: white;
}